{% extends "home/base.html" %}

{% block title %}Profile{% endblock %}
{% block heading %}Profile{% endblock %}
{% block body %}
<div class="container">
  <ul class="collection with-header left-align">
    <li class="collection-header"><h4>{{request.user.first_name}} {{request.user.last_name}}</h4></li>
    <li class="collection-item">Username<span class="secondary-content black-text">{{request.user.username}}</span></li>
    <li class="collection-item">Email<span class="secondary-content black-text">{{request.user.email}}</span></li>
    {% if isPatient %}
      <li class="collection-item">Contact<span class="secondary-content black-text">{{request.user.patient.contact_no}}</span></li>
      <li class="collection-item">Address<span class="secondary-content black-text">{{request.user.patient.address}}</span></li>
      <li class="collection-item">Bloood Group<span class="secondary-content black-text">{{request.user.patient.blood_group}}</span></li>
      <li class="collection-item">Date of Birth<span class="secondary-content black-text">{{request.user.patient.dob}}</span></li>
    {% endif %}
  </ul>
</div>


{% endblock %}
